*.log
*.jar
/assets
/crash-reports
/CustomDISkins
/customnpcs
/fonts
/journeymap
/logs
/mods
/natives-windows-x86_64
/resourcepacks/
/saves/*
/screenshots
/shaderpacks
/*.json
/*.png
!/icon.png
/*.xml
/*.toml
*.bat
/*.cfg
/.mixin.out