*.log
*.jar
!/mods/*.jar
/assets
/crash-reports
/CustomDISkins
/customnpcs
/fonts
/journeymap
/logs
/natives-windows-x86_64
/resourcepacks/
/saves/*
/shaderpacks
/*.json
/*.png
!/icon.png
/*.xml
/*.toml
*.bat
/*.cfg
/.mixin.out
/XaeroWaypoints/
/XaeroWaypoints_BACKUP032021/
/XaeroWorldMap/